[submodule "lib_dav"]
	path = lib_dav
	url = git@github.com:davestanley-cogrhythms/lib_dav.git
[submodule "lib_MAScPhD_Matlab"]
	path = lib_MAScPhD_Matlab
	url = git@github.com:davestanley-PhD/lib_MAScPhD_Matlab.git
